
    body{
      background-image: url("background.png");
       background-size: 100%;
      font-family: 'poppins' sans-serif;
    }


    
    form {
        display: flex;
        flex-direction: column;
        width: 300px;
        padding: 46px;
        padding-top: 2px;
        background-color: #a8a47ccc;
        border-radius: 4px;
        font-size: 12px;
        margin-left: 35PX;
    }
    form label{
      font-weight: bold;
      font-size: 16px;

    }
    h3{
      color: rgb(99 72 55);
      font-weight: bold;
      FONT-SIZE: 26PX;
      TEXT-ALIGN: center;
    }
    #form button{
      padding: 10px;
      margin-top: 10px;
      width: 100%;
      color: white;
      background-color: rgb(99 72 55);
      border: none;
      border-radius: 4px;
    }
    
    form input{
      border: 2px solid #f0f0f0;
      border-radius: 4px;
      display: block;
      font-size: 12px;
      padding: 10px;
      width: 100%;
    }

    select{
      border: 2px solid #f0f0f0;
      border-radius: 4px;
      display: block;
      font-size: 12px;
      padding: 10px;
      width: 109%;
    }
    #type-input{
      display: flex;
      flex-direction: row; 
    }

    table{
       display: none; 
      position: absolute;
      margin-left: 40%;
      margin-top: -860px;
      background-color: #a8a47ccc;
    }

    th, td {
            color: rgb(29 13 3);
            border: 1px solid #3f3f3bcc;
            padding: 10px;
            align-items: center;
        }
    td{
        color: white;
        background-color: rgb(208 188 165 / 71%);
    }
  .btn{
      padding: 5px;
      
      color: white;
      background-color: #545344;
      border: none;
      border-radius: 4px;
  }
  #btn2{
    margin-left: 18%;

  }
  #changerBtn{
      display: none;
      color: white;
      background-color: rgb(99 72 55);
      border: none;
      border-radius: 4px;
      margin-top: 25px;
  }
